<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tokenflow</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre-d3/0.6.1/dagre-d3.js"></script>
  
    <!-- Pull in JQuery dependencies -->
    <link rel="stylesheet" href="/css/tipsy.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/tipsy.js"></script>


    <script src="/js/bignumber.js"></script>
    <script src="/js/graphDrawer.js"></script>

    <div id="someButtons">
      <label for="txhash">txhash</label>
      <input type="text" id="txhash" name="txhash">
      <button type="button" id="drawbutton">Draw flow</button> 
      <a id="etherscanlink" href="" target="_blank">See transaction on etherscan</a>
      <div id="progress" class="progress">
        <label id="progressText" for="progressText"></label>
      </div>
    </div>


    <br>

    <script>
      var sse = new EventSource("/sse");
      sse.addEventListener("progressChanged", ({data}) => {
          console.log('invoked ' + JSON.stringify(data));
          document.getElementById('progressText').innerHTML = data + '<br>';
      }); 

      sse.addEventListener("txHash", ({data}) => {
          let txString = JSON.parse(data);
          let linkElem =  document.getElementById('etherscanlink');
          linkElem.hidden = !txString;
          document.getElementById('etherscanlink').href = `https://etherscan.io/tx/${txString}`;
      });
      document.getElementById("drawbutton").addEventListener('click', startDrawing);

      function startDrawing(){
        let _txhash = document.getElementById("txhash").value;
        
        if (_txhash.length != 66){
            alert("Transaction hash length is invalid");
            return;
        }

        let hostname = window.location.hostname;
        
        let _url = 'http://' + hostname + ":3000/tx/" + _txhash
        
        window.location.href = _url;
      }
    </script>
    <svg style="min-height: 600px; min-width: 95vw;"><g></svg>
  </body>
</html>